<p id="notice"><%= notice %></p>
<h1>Lista de Ni&ntilde;os</h1>

<div id='radios'>
  <input type='radio' name='seleccion_ninos' value='todos' checked='checked' /> Todos
  <input type='radio' name='seleccion_ninos' value='adopcion'  /> En Adopcion
  <input type='radio' name='seleccion_ninos' value='regresaron' /> Que Regresaron al Grupo Familiar
  <%= link_to 'Exportar Reporte' %>
</div>

<table id='ninos_table' data-source='<%= ninos_url(format: "json") %>'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Oficina</th>
      <th>Familia</th>
      <th>Tipo acogimiento</th>
      <th>Iglesia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<br>
<%= link_to 'Agregar Niño', new_nino_path %>

<!-- TODO: This should be moved to ninos.js file. -->

<script type='text/javascript'>

  $(function(){

    var val,
      filtro,
      success,
      datatable,
      search;

    success = function success(data){
      if(data.success){
        search = $('#ninos_table_filter input').val();
        datatable.fnFilter(search);
      }
    };

    filtro = $("[name='seleccion_ninos']");

    filtro.on('change',function(){
      val = $(this).val();
      $.ajax({
        url: '/set_ninos_filter',
        data: {filter: val},
        dataType: 'json',
        success: success
      });
    });

    datatable = $('#ninos_table').dataTable({
      bJQueryUI: true,
      bServerSide: true,
      bProcessing: true,
      sAjaxSource: $('#ninos_table').data('source')
    });
  });

</script>