<p id="notice"><%= notice %></p>
<h1>Lista de Ni&ntilde;os</h1>
<table id='ninos_table' data-source='<%= ninos_url(format: "json") %>'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Oficina</th>
      <th>Familia</th>
      <th>Tipo acogimiento</th>
      <th>Iglesia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<br>
<%= link_to 'Agregar Niño', new_nino_path %>

<!-- TODO: This should be moved to ninos.js file. -->

<script type='text/javascript'>

  $(function(){
    $('#ninos_table').dataTable({
      bJQueryUI: true,
      bServerSide: true,
      bProcessing: true,
      sAjaxSource: $('#products').data('source')
    });
  });

</script>