<p id="notice"><%= notice %></p>
<h1>Familias</h1>

<div id='radios'>
  <input type='radio' name='seleccion_familias' value='todas' checked='checked' /> Todas
  <input type='radio' name='seleccion_familias' value='activas' /> Activas
  <input type='radio' name='seleccion_familias' value='no_activas'  /> No Activas
  <%= link_to 'Exportar Reporte' %>
</div>

<table id='familias_table' data-source='<%= familias_url(format: "json") %>'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Grupo</th>
      <th>Telefonos</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Aval</th>
      <th>Iglesia</th>
      <th>Tipo acogimiento</th>
      <th>Perfil</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<br>
<%= link_to 'Agregar Familia', new_familia_path %>

<script type='text/javascript'>
  $(function(){

    var filtro = $("[name='seleccion_familias']");

    viva.to_datatable('#familias_table',{
      filtro: filtro,
      filtro_url: '/set_familias_filter',
      display_length: 100
    });

  });
</script>